<div class="main top-main">
  <div class="top-message">
    <h2>今日の日経平均は「9:00の始値（寄り付き後）」⇒「15:00の終値」で上がる？下がる？</h2>
    <h2>投票してください</h2>
    <p></p>
  </div>

  <div class="sentaku-btn">
    <%=link_to("上がると思う","/home/agaru",{method:"post"})%>
    <%=link_to("下がると思う","/home/sagaru",{method:"post"})%>
  </div>


  <!-- <p>次回の日足を予想図を描いて下さい,</p> -->
  <!-- <%=form_tag("/home/hiashi")do%> -->
  <!-- <input name="hajimene" > -->
  <!-- <input name="owarine"> -->
  <!-- <input type="submit" value="決定して他の人の終値を見る"> -->
  <!-- <%end%> -->



</div>
