<div class="main top-main">
  <div class="top-message">
    <h2>投票結果</h2>
    <p>今日の終値は昨日よりも</p>

  </div>
  <div class="chart">
  <%= pie_chart @chart %>



  <!--<p>皆の日足予想（〇〇人の平均）<%="始値: #{@hajimene}円 ➡ " %><%="終値: #{@owarine}円" %></p>-->
  <!--<p>あなたの予想：--円　　結果まであと○○時間○○秒</p>--->
  </div>

</div>
